html, body{
  height: 100%;
  width: 100%;
}
#page{
  height: 100vh;
  width: 100vw;
  background-color: #333333;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly
}
#editor-container, #preview-container{
  min-height: 40%;
  width: 40%;
  background-color: whitesmoke;
  font-size: 18px;
}
#preview-container{
  padding: 5px
}
textarea{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  font-size: 18px;
}
textarea::placeholder{
  font-size: 18px
}
@media only screen and  (max-width: 1100px){
  #page{
    flex-direction: column;
    align-items: center
  }
  #editor-container, #preview-container{
    width: 90%;
  }
}
